body{
	background: linear-gradient(red, #9198e5);
}
/* css for box around timer */
#timer_box{
	position : relative;
	top : 100px;
	margin : auto;
	height : 150px;
	width : 400px;
	border : 5px solid black;
	border-radius : 25px;
	font-size : 50px;
}
/* css for timer */
#timer{
	font-size : 100px;
	position : absolute;
	height : 150px;
	width : 400px;
	text-align : center;
	line-height: 150px;
}
/* css for start button */
#start{
	position : absolute;
	top : 180px;
	left : 160px;
	background-color : green;
	height : 80px;
	width : 80px;
	border-radius : 50%;
	font-size : 20px;
	text-align :center;
	line-height: 80px;
	font-weight: bold;
	border : 5px solid black;
	cursor : pointer;
}
#start:hover {
	box-shadow: 5px 5px 5px black;
}
/*css for lap button */
#lap{
	position : absolute;
	top : 180px;
	left : 40px;
	background-color : blue;
	height : 80px;
	width :80px;
	border-radius : 50%;
	text-align :center;
	line-height: 80px;
	font-size : 20px;
	font-weight: bold;
	border : 5px solid black;
	cursor : pointer;
}
#lap:hover {
	box-shadow: 5px 5px 5px black;
}
/* css for reset button*/
#reset{
	position : absolute;
	top : 180px;
	left : 280px;
	background-color : yellow;
	height : 80px;
	width :80px;
	border-radius : 50%;
	text-align :center;
	line-height: 80px;
	font-size : 20px;
	font-weight: bold;
	border : 5px solid black;
	cursor : pointer;
}
#reset:hover {
	box-shadow: 5px 5px 5px black;
}
/* css for scroll lap*/
.scroll_lap{
	width : 400px;
	height : 200px;
	border : 2px solid green;
	position : absolute;
	top : 300px;
	display : flex ;
	overflow : auto ;
	flex-direction : column ;
	align-items : center ;
 }

 /* css for lap list */
 .list{
 	width : 350px;
 	height: 100px;
 	text-align: center ;
 	line-height: 100px ;
 	border: 10px transparent;
 	border-bottom : 10px solid black;
 	flex : 0 0 auto;
 }

/*scrollers */
 ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 16px #e1eced;
}
